<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes</title>
  </head>
  <body>
    <div class="container" style="padding: 20px">
      <h1 style="text-align: center">
        <h1>Hola desde app.component.html</h1>
        <a href="cliente/index/index.component.html"> Clientes 1</a><br />

        <a href="cliente/prueba.html">Clientes 2</a>
      </h1>
      <hr />

      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </body>
</html>
