<section>
  <div class="d-flex justify-content-between">
    <h4>Lista de clientes</h4>
    <a routerLink="/cliente/create" class="btn btn-success"
      >Agregar nuevo cliente</a
    >
  </div>

  <br />

  <table class="table">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Nit</th>
      <th width="220px">Action</th>
    </tr>
    <tr *ngFor="let cliente of cliente">
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.name }}</td>
      <td>{{ cliente.lastname }}</td>
      <td>{{ cliente.cel }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.nit }}</td>
      <td>
        <a
          href="#"
          [routerLink]="['/cliente/', 'edit', cliente.id]"
          class="btn btn-primary"
          >Edit</a
        >
        <button
          type="button"
          (click)="deleteCliente(cliente.id)"
          class="btn btn-danger"
        >
          Delete
        </button>
      </td>
    </tr>
  </table>
</section>
